@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');




/* トップ画面 */

.calendar-table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid black;
  /* position: relative; */
  /* top: 200; */
  /* left: 50; */
}
.calendar-table th,
.calendar-table td{
  border: 1px solid black;
  padding: 10px;
}

.calendar-table .header {
  background-color: #4c586f;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.month {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  max-width: 30%;
  /* position: relative; */
  /* top: 200; */
  /* left: 50; */
}

.month a {
  color: #4a80d6;
}

.left {
  float: left;
}

.right {
  float: right;
}

.day {
  height: 100px;
}
.date {
    font-size: 40px;
    text-align: center;
    /* padding: 10px; */
    /* position: relative; */
    /* top: 200; */
    /* left: 50; */
}
a.left {
    font-size: 20px;
    /* padding: 10%; */
    width: 80px;
}

a.right {
    font-size: 20px;
}

td.day {vertical-align: top;}

.total-data {
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    max-width: 80%;
    border: 1px solid black;
    padding: 1%;
    /* position: relative; */
    /* top: 200px; */
    /* left: 50px; */
}

.main {
  /* width: 90%;
  margin: auto;
  border: black solid; */
  margin: auto;
  width: 80%;
  padding-left: 80px;
}

/* ヘッダー */

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: #a0d8ef;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 50px;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
  color: white;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: gray;
}

/* サイド */
.side{
  /* position: fixed; */
  top:100px;
  position: absolute;
}

.display_none{
  display: none;
}

/* メイン全画面共通 */
main{
  display: flex;
}

/* 新規登録画面 */
.container{
  margin: 0auto;
}

/* login画面 */


/* 経費編集画面 */

.main_content{
  margin:
  auto;
}

.btn_family{
  display: flex;
}

/* 経費一覧画面のレイアウト */

.list_total {
  text-align: right;
  font-size: 30px;
  margin: 0 auto;
  max-width: 80%;
  padding: 1%;
}

.recode{
  background-color: #FFFF99;
}

/* 経費登録画面のレイアウト */

.apply_main{
  width: 500px;
  margin: 50px;
}

.flex{
  display: flex;
  width:100%;
  margin-bottom: 10px;
}

.block{
  margin-right: 20px;
  width: 150px;
}

.block2{
  margin-right: 30px;
  margin-left: 30px;
  width: 100px;
}

.block2-height{
  height: 34px;
}

label{
  display: block;
}

input{
  margin-bottom: 10px;
}

.apply-button{
  margin: 15px 50px 0 80px;
  border-radius: 50%;
  height: 50px;
  width: 100px;
}

/** 経費承認画面のレイアウト */

table th ,td {
  border:1px solid;
  height: 40px;
  padding: 10px
}

table{
  /* margin: 20px; */
}

th{
  text-align: center;
}

/* 経費承認画面においてExpenseテーブルに未承認のレコードが無い場合のデザイン */
.approve_null{
  border: solid 3px black;
  padding: 100px;
}

/*　スクロールバーの実装 */
.approve_table {
  display: block;
  height: auto;
  max-height: 350px;
  overflow-y: scroll;
  border: 1px solid #000000;
  border-collapse: collapse;
}

.approve_table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #99FFFF;
}



